
/* My Stuff
========================================================================== */

html, body {
	height: 100%;
}

body {
	text-align: center;
	align-items: center;
	background-color: #EAF9FF;
	color: #000000;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

a, b {
	font-weight: 400;
}

a, a:visited {
	color: #0C1B78;
	text-decoration: none;
	border-bottom: 1px solid #27B1EC;
	height: 1.2em;
	display: inline-block;
}

a:hover, a:focus {
	color: #3953EF;
	border-color: #2952EF;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

#error-pic {
	padding-top: 40px;
	height: 600px;
}

.outer {
	background-color: #EAF9FF;
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
	max-height: 100%;
	border-radius: 25px;
}

.title {
	font-size: 22px;
	padding: 20px 20px 40px;
}


@media only screen and (max-width: 40rem) {
	.content {
		padding: 40px 20px;
	}
	html {
		width: devie-width;
	}

}

@media only screen and (max-width: 480px) {
	html {
		width: 480px;
	}
}

#links {
	list-style-type: none;
	padding: 0;
}

#links li {
	display: inline;
	font-size: 18px;
	margin: 0 10px;
}

#links #name {
	font-weight: bold;
	font-size: 20px;
}

#link-current {
	background-color: #93D5F2;
	border-left: 5px solid #93D5F2;
	border-right: 5px solid #93D5F2;
}

#navbar {
	position: fixed;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #EAF9FF;
	z-index: 2;
}

@media only screen and (max-width: 40rem) {
	#navbar {
		position: static;
	}
}
