
/* My Stuff
========================================================================== */

html, body {
	height: 100%;
}

body {
	text-align: center;
	align-items: center;
	/* Cicada stripes pattern by Randy Merrill */
	background-color: #EAF9FF;
	background-image: linear-gradient(90deg, rgba(39,177,236,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(39,177,236,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(39,177,236,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(39,177,236,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
	color: #02212E;
	color: #000000;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

a, b {
	font-weight: 400;
}

a, a:visited {
	color: #0C1B78;
	text-decoration: none;
	border-bottom: 1px solid #27B1EC;
	height: 1.2em;
	display: inline-block;
}

a:hover, a:focus {
	color: #3953EF;
	border-color: #2952EF;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

#profile-pic {
	padding-top: 20px;
	margin-bottom: 20px;
	height: 400px;
}

.outer, .footer{
	background-color: #EAF9FF;
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
	min-height: 100%;
    border-radius: 20px;

}

main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -0px;
}

.footer {
    height: 60px;
    margin-top: -30px;
}

.title {
	font-size: 22px;
	padding: 20px 20px 40px;
}


@media only screen and (max-width: 40rem) {
	.content {
		padding: 40px 20px;
	}
	html {
		width: devie-width;
	}

}

@media only screen and (max-width: 480px) {
	html {
		width: 480px;
	}
}

#links {
	list-style-type: none;
	padding: 0;
}

#links li {
	display: inline;
	font-size: 18px;
	margin: 0 10px;
}

#links #name {
	font-weight: bold;
	font-size: 20px;
}

#link-current {
	background-color: #93D5F2;
	border-left: 5px solid #93D5F2;
	border-right: 5px solid #93D5F2;
}

#navbar {
	position: fixed;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #EAF9FF;
	z-index: 2;
}

@media only screen and (max-width: 40rem) {
	#navbar {
		position: static;
	}
}

#container {
	z-index: 1;
	margin: 0 auto;
}

.project {
	background-color: #88B8CD;

	margin: 2px auto;
	border: 3px solid #298FBB;
	height: auto;
	width: 390px;
	float: left;
	position: relative;
}

.project img {
	width: 100%;
}

.project a {
	position: relative;
	display: inline;
	border-style: none;
	color: none;
	border: none;
}

.origami {
	height: auto;
	width: 200px;
	float: left;
	position: relative;
}
.origami img {
	width: 100%;
}

span.dl-text {
	position: absolute;
	background: rbga(0,0,0,0.5);
	color: red;
	display: table;
	left: 0;
	top: 0;
	width: 390px;
	height: 200px;
	opacity: 0;
}

span.dl-text span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}



.lang {
	font-weight: bold;
	text-align: center;
}

.describe {
	margin: 5px;
	text-align: left;
}



